---
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";
import { Image } from "astro:assets";
import websiteImage from "../../assets/images/services/website-ui-ux-development.svg";
import appImage from "../../assets/images/services/mobile-app-ui-ux-design.svg";
import uiuxImage from "../../assets/images/services/creative-designer-doing-multitasking.svg";
import seoImage from "../../assets/images/services/seo-link-building.svg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { class: className } = Astro.props;

const points = [
	{
		title: t("websites.title"),
		content: t("websites.content"),
		image: websiteImage,
	},
	{
		title: t("apps.title"),
		content: t("apps.content"),
		image: appImage,
	},
	{
		title: t("uiux.title"),
		content: t("uiux.content"),
		image: uiuxImage,
	},
	{
		title: t("seo.title"),
		content: t("seo.content"),
		image: seoImage,
	},
];
---

<section id="services" class:list={["section home-dark-section services-section", className]}>
	<div class="col-span-12 flex flex-col gap-32 py-20">
		<h2 class="sr-only">{t("services")}</h2>
		{
			points.map(({ title, content, image }, index) => (
				<div class={`service-item flex w-full flex-col-reverse items-center justify-center gap-12 md:gap-20 lg:gap-40 ${index % 2 === 1 ? 'md:flex-row-reverse' : 'md:flex-row'}`}>
					<div class="w-full max-w-md lg:max-w-lg">
						<div class="visual-element w-full h-auto aspect-square">
							<Image src={image} alt={title} class="w-full h-full object-contain" />
						</div>
					</div>
					<article class="flex flex-col gap-6 text-center md:text-left">
						<h3 class="font-display text-4xl uppercase md:text-5xl lg:text-6xl text-balance text-[#d4eb28]">{title}</h3>
						<p class="max-w-xl text-lg text-balance" set:html={content} />
					</article>
				</div>
			))
		}
	</div>
</section>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	function init() {
		const services = document.querySelectorAll(".service-item");
		
		services.forEach((service) => {
			gsap.from(service, {
				scrollTrigger: {
					trigger: service,
					start: "top 85%", // Trigger when top of element hits 85% of viewport height
					toggleActions: "play none none reverse", // Play animation on enter, reverse on leave back up
				},
				scale: 0.9,
				autoAlpha: 0, // Using autoAlpha handles visibility: hidden automatically
				y: 50,
				duration: 0.8,
				ease: "power3.out", // Smooth, natural easing
			});
		});
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
