@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-primary-50: var(--color-rose-50);
    --color-primary-100: var(--color-rose-100);
    --color-primary-200: var(--color-rose-200);
    --color-primary-300: var(--color-rose-300);
    --color-primary-400: var(--color-rose-400);
    --color-primary-500: var(--color-rose-500);
    --color-primary-600: var(--color-rose-600);
    --color-primary-700: var(--color-rose-700);
    --color-primary-800: var(--color-rose-800);
    --color-primary-900: var(--color-rose-900);
    --color-primary-950: var(--color-rose-950);
    --font-headings: 'Space Grotesk Variable', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-sans: 'Roboto Variable', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@custom-variant dark (&:where(.dark, .dark *));

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-headings;
}



/* Scroll Reveal Animations */
.reveal-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.scale-on-scroll {
    opacity: 0;
    transform: scale(0);
    transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.scale-on-scroll.is-visible {
    opacity: 1;
    transform: scale(1);
}

.chained-scale {
    opacity: 0;
    transform: scale(0);
    transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.chained-scale.is-visible {
    opacity: 1;
    transform: scale(1);
}