---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import heroImageDark from "../images/ia-comercial.png";
import heroImageLight from "../images/portada-ambiental.jpg";
import Social from "../components/Social.astro";
import { Icon } from "astro-icon/components";
import FeaturedArticles from "../components/articles/FeaturedArticles.astro";
import Projects from "../components/Projects.astro";
import NewsletterForm from "../components/NewsletterForm.astro";
---

<BaseLayout>
	<!-- Hero section -->
	<div class="mx-auto lg:max-w-4xl mt-40 mb-20">
		<div class="flex flex-col lg:flex-row lg:items-center lg:space-x-16">
			<div>
				<h1
					class="text-3xl sm:text-5xl font-bold tracking-tight text-balance"
				>
					Automatización de procesos con IA para pymes y proyectos ciudadanos
				</h1>
				<div class="mt-8 leading-8">
					<p>
						¿Eres una pequeña o mediana empresa y deseas aumentar tu
						productividad y eficientar tus procesos por medio de automatización
						con Inteligencia Artificial? Te ayudo a implementar las herramientas
						que necesitas para lograr tus objetivos. Además, al contratar
						mis servicios apoyas al desarrollo de agentes de IA con fines
						sociales y altruistas.


					</p>
				</div>
			</div>

			<div class="order-first lg:order-last flex-shrink-0 mb-8">

				<Image
					src={heroImageLight}
					alt="Code. Blood. Mild workplace horror."
					class="block dark:hidden  rounded-full  size-20 lg:size-[350px] object-cover ring-1 ring-slate-400/30 shadow"
				/>
				<Image
					src={heroImageDark}
					alt="Code. Blood. Mild workplace horror."
					class="hidden dark:block rounded-full size-20 lg:size-[350px] object-cover ring-1 ring-slate-400/30 shadow"
				/>
			</div>
		</div>
		<div
				class="sm:flex sm:items-center sm:justify-between space-y-4 sm:space-y-0 my-10"
			>
				<a
					href="mailto:luis.anzaldo@metarrelato.com"
					class="flex items-center space-x-1 hover:text-primary-500"
				>
					<Icon name="heroicons:envelope" class="size-5" />
					<span>lorenzo@dilumenero.dev</span>
				</a>
				<div class="flex items-center space-x-4">
					<Social />
		</div>
	</div>

	<!-- Featured articles -->
	<div class="mx-auto lg:max-w-4xl my-16 sm:my-30">
		<h2
			class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"
		>
			Destacados
		</h2>
		<FeaturedArticles />
	</div>

	<!-- Projects -->
	<div class="my-16 sm:my-30">
		<div class="mx-auto lg:max-w-4xl">
			<h2
				class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"
			>
				Proyectos
			</h2>
		</div>

		<div class="mx-auto lg:max-w-5xl">
			<Projects />
		</div>
	</div>


</BaseLayout>
