---
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../components/Projects.astro";
import NewsletterForm from "../components/NewsletterForm.astro";
import Timeline from "../components/Timeline.astro";
import Social from "../components/Social.astro";
import { Icon } from "astro-icon/components";

// SEO properties
const title = "About";
const description = "All about me";
---

<BaseLayout title={title} description={description}>
	<div class="mx-auto max-w-2xl lg:max-w-4xl">
		<header class="max-w-2xl">
			<h1 class="text-4xl md:text-6xl font-black tracking-tight mb-8">
				Info
			</h1>
		</header>

		<section class="max-w-2xl">
			<div class="space-y-8 leading-8">
				<p>
					El objetivo de este proyecto es demostrar que es posible
					integrar la IA en el mundo de las pequeñas y medianas
					empresas de manera segura y ética, con el objetivo de
					fortalecer sus estrategias comerciales.
				</p>
				<p>
					Además, no dejo de lado los proyectos sociales y ciudadanos,
					ya que busco contribuir por medio de acciones afirmativas e
					impulsar el desarrollo de agentes de Inteligencia Artificial
					que promuevan una sociedad con más oportunidades para todos.
				</p>
				<p>
					No dudes en enviarme un correo electrónico o un mensaje
					en mis redes sociales. Estaré muy contento y agradecido por
					permitirme contribuir a tu proyecto.
				</p>
			</div>

			<div
				class="sm:flex sm:items-center sm:justify-between space-y-4 sm:space-y-0 my-10"
			>
				<a
					href="mailto:luis.anzaldo@metarrelato.com"
					class="flex items-center space-x-1 hover:text-primary-500"
				>
					<Icon name="heroicons:envelope" class="size-5" />
					<span>luis.anzaldo@metarrelato.com</span>
				</a>
				<!--
				<div class="flex items-center space-x-4">
					<Social />
				</div>
				-->
			</div>
		</section>
<!--
		<section class="my-16 sm:my-30">
			<h2
				class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"
			>
				Career
			</h2>

			<div>
				<Timeline />
			</div>
		</section>
	</div>

	<div class="my-16 sm:my-30">
		<div class="mx-auto lg:max-w-4xl">
			<h2
				class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"
			>
				Projects
			</h2>
		</div>

		<div class="mx-auto lg:max-w-5xl">
			<Projects />
		</div>
	</div>

	<div class="mx-auto lg:max-w-4xl my-16 sm:my-30">
		<NewsletterForm />
	</div>

-->
</BaseLayout>
