---
import { Icon } from "astro-icon/components";
const projects = [
	{
		title: "acontraflujo",
		description:
			"Consultora de viajes con optimización de procesos mediante automatización de Inteligencia Artificial",
		domain: "acontraflujo.com",
		url: "https://www.acontraflujo.com",
	},
	
	{
		title: "acontraflujo",
		description:
			"Consultora de viajes con optimización de procesos mediante automatización de Inteligencia Artificial",
		domain: "acontraflujo.com",
		url: "https://www.acontraflujo.com",
	},
	{
		title: "acontraflujo",
		description:
			"Consultora de viajes con optimización de procesos mediante automatización de Inteligencia Artificial",
		domain: "acontraflujo.com",
		url: "https://www.acontraflujo.com",
	},
];
---

<div
	class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-14 gap-y-10 md:gap-y-18"
>
	{
		projects.map((project, index) => (
			<div class="flex flex-col space-y-5 text-sm relative group">
				<h2 class="font-semibold text-lg mb-2 ">
					<div class="absolute -inset-x-3 md:-inset-x-5 -inset-y-4 rounded-lg opacity-0 scale-75 group-hover:scale-100 group-hover:opacity-100 bg-slate-50 z-0 transition dark:bg-slate-800" />
					<a href={project.url} target="_blank" rel="noopener noreferrer">
						<span class="absolute -inset-x-3 md:-inset-x-5 -inset-y-4 rounded-lg z-10" />
						<span class="relative">{project.title}</span>
					</a>
				</h2>
				<p class="relative leading-7 text-slate-700 dark:text-slate-300">
					{project.description}
				</p>
				<p class="relative flex items-center space-x-1 text-slate-500 group-hover:text-primary-500">
					<span>{project.domain}</span>

					<Icon name="heroicons:arrow-top-right-on-square" />
				</p>
			</div>
		))
	}
</div>
